* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  background-color: green;
  color: white;
  padding: 10px 20px;
}

#navbar {
  background-color: orange;
  padding: 10px 20px;
}

#navbar ul {
  list-style: none;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar li {
  /* display: inline-block; */
  /* margin-right: 40px; */
}

#content {
  background-color: lavender;
  height: 400px;
  display: flex;
  gap: 20px;
}

#main {
  background-color: green;
  min-height: 400px;
  flex:2;
}

#sidebar {
  background-color: lightblue;
  min-height: 400px;
  flex:1;
}

#footer {
  background-color: hotpink;
  min-height: 100px;
}

.bg-black {
  background-color: black;
  color: white;
}